{% extends 'site_base.html' %}

{% load static %}
{% load widget_tweaks %}


{% block title %}Notes{% endblock %}

{% block content_title %}
Notes
{% if 'can_create_note' in allowed_permissions %}
<a href="{% url 'core:notes_create' %}" class="btn btn-info float-right">Create</a>
{% endif %}
{% endblock %}

{% block content %}
<table class="table">
    <thead class="thead-dark h6">
      <tr>
        <th scope="col">Title</th>
        <th scope="col">Description</th>
        <th scope="col">Created By</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
    {% for note in notes %}
    <tr class="h6">
        <td><a href="{% url 'core:notes_detail' note.id %}">{{note.title}}</a></td>
        <td>{{note.description}}</td>
        <td>{{note.created_by}}</td>
        <td>
        {% if 'can_edit_notes' in allowed_permissions %}
            <a href="{% url 'core:notes_edit' note.id %}" title="Edit" class="mr-3"><i class="fas fa-edit"></i></a>
        {% endif %}
        {% if 'can_delete_notes' in allowed_permissions %}
            <a href="{% url 'core:notes_delete' note.id %}" title="Delete"><i class="fas fa-trash-alt"></i></a>
        {% endif %}
        </td>
    </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock %}
