{% extends 'site_base.html' %}

{% load static %}
{% load widget_tweaks %}


{% block title %}Edit Note{% endblock %}

{% block content %}
<div class="container">
  <div class="middle-box">
    <div class="text-center">
      <h3>Note</h3>
    </div>
    <div class="row justify-content-center">
      <div class="col-12">
        <form method="post">
          {% csrf_token %}

          {% if form.non_field_errors %}
          <div class="alert alert-danger" role="alert">
          {{ register_form.non_field_errors }}
          </div>
          {% endif %}

          {% for field in form %}
          <div class="form-group">
            {% if field.name == 'created_by' %}
            <input type="hidden" value="{{request.user.id}}" name="created_by">
            {% else %}
            <label class="control-label">{{ field.label_tag }}</label>
            {% render_field field class+="form-control" %}
            {% endif %}
            {% if field.help_text %}
              <small style="color: grey">{{ field.help_text }}</small>
            {% endif %}
            {% for error in field.errors %}
              <p style="color: #c64450">{{ error }}</p>
            {% endfor %}
          </div>
          {% endfor %}
          <button type="submit" class="btn btn-success float-right">Save</button>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}
